// Scss file for <article> in the document

article {
  position: relative;
  left: 0;
  top: 0;
  padding-left: $pad-marg-left;
  width: 100vw;
  height: auto;
  margin: 0 0 263px;

  header {
    h2 {
      position: relative;
      font-family: 'Averta-Light', sans-serif;
      font-size: 48px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: -0.4px;
      color: $colorGreen;
      opacity: 0.87;
      margin: 0 0 21px;
      text-transform: uppercase;
    }

    h2::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -37px;
      width: 24px;
      height: 2px;
      background-color: rgba(25, 154, 143, 0.76);
    }

    h3 {
      font-family: 'Gotham-Light', sans-serif;
      font-size: 13px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.8px;
      color: $wordingGrey;
      opacity: 0.67;
      margin: 0 0 2px;
      padding-left: 3px;
      text-transform: uppercase;
    }
  }

  section {
    p {
      font-family: 'Averta-Light', sans-serif;
      font-size: 17px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.88;
      letter-spacing: normal;
      color: $wordingGrey;
      padding-left: 3px;
      margin: 0 0 32px;
      width: 550px;
    }
  }

  footer {
    a {
      display: block;
      width: 165px;
      height: 44px;
      border: solid 1px $colorGreen;
      text-align: center;
      text-decoration: none;
      transition: all 0.24s ease-out;

      span {
        font-family: 'Averta-Regular', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 44px;
        letter-spacing: -0.7px;
        color: $colorGreen;
        transition: all 0.34s ease-out;
      }

      span::after {
        content: '_';
        padding-left: 3px;
      }
    }

    a:hover {
      background-color: $colorGreen;
      border: solid 1px $colorGreen;
    }

    a:hover span {
      color: #ffffff;
    }

    a:hover span::after {
      animation: blink 0.4s infinite alternate ease-in-out;
    }
  }

  #triggerInitScale {
    position: absolute;
    top: -250px;
  }
}

article#about {
  left: 0;
  top: 0;
  padding: 45px 0 150px $pad-marg-left;
  margin: 0;
  background-color: $backgroundLastArticle;

  header {
    h2 {
      position: static;
      opacity: 0.87;
      font-family: 'Averta-Bold', sans-serif;
      font-size: 24px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: $wordingGrey;
      opacity: 0.87;
      margin: 0 0 16px;
      text-transform: uppercase;
    }

    h2::before {
      display: none;
    }

    h3 {
      font-family: 'Averta-Regular', sans-serif;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.78;
      letter-spacing: normal;
      color: $colorGreen;
      opacity: 0.87;
      margin: 0 0 44px;
      width: 516px;
      text-transform: uppercase;
    }
  }

  section {
    position: relative;
    max-width: 820px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px 40px 20px 40px;
    margin-left: -8px;

    p {
      font-family: 'Averta-Regular', sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: $wordingGrey;
      opacity: 0.87;
      width: auto;
      margin: 0 0 20px;
    }

    p:nth-last-of-type(1) {
      margin: 0;
    }
  }

  section::after {
    content: '';
    position: absolute;
    bottom: 28px;
    right: -19px;
    width: 20px;
    height: 28px;
    transform: translateY(-50%);
    background-image: url("/images/talk2.svg");
    background-repeat: no-repeat;
  }
}
