// Scss file for the first <aside> in the document
// Variables

// Content
aside {
    position: absolute;
    top: 64px;
    left: 0;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    span {
        font-family: 'Gotham-Medium', sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.67;
        letter-spacing: normal;
        font-style: normal;
        font-stretch: normal;
        color: #545454;
        opacity: 0.40;
    }
}
