.hidden {
  opacity: 0 !important;
}
.animate {
    animation: appear 1.5s ease-out forwards;
}
.green {
    color: $colorGreen !important;
    opacity: 1 !important;
    font-weight: 600 !important;
}
