.hidden {
  opacity: 0 !important;
}
.animate {
    animation: appear 1.5s ease-out forwards;
}
.green {
    color: $colorGreen !important;
    opacity: 1 !important;
    font-weight: 600 !important;
}
.background-project {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.psycho-3 {
    background-image: url(../images/illustration/psycho@3x.png);
}
.princetone-3 {
    background-image: url(../images/illustration/princetone@3x.png);
}
.freshwater-3 {
    background-image: url(../images/illustration/freshwater@3x.png);
}
.alienes-3 {
    background-image: url(../images/illustration/alienes@3x.png);
}
