@font-face {
  font-family: 'Averta-regular';
  src: url('../fonts/Averta/Averta-Regular/Averta.otf');
}
@font-face {
  font-family: 'Averta-Light';
  src: url('../fonts/Averta/Averta-Light/Averta-Light.otf');
}
@font-face {
  font-family: 'Averta-Bold';
  src: url('../fonts/Averta/Averta-Bold/Averta-Bold.otf');
}
@font-face {
  font-family: 'Averta-Regular-Italic';
  src: url('../fonts/Averta/Averta-RegularItalic/Averta-Regular-Italic.otf');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham/Gotham/Gotham-Medium.otf'), url('../fonts/Gotham/Gotham/Gotham-Medium.ttf');
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham/Gotham/Gotham-Book.otf'), url('../fonts/Gotham/Gotham/Gotham-Book.ttf');
}
@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham/Gotham/Gotham-Light.otf'), url('../fonts/Gotham/Gotham/Gotham-Light.ttf');
}
