// Scss file for the first <header> in the document
header#banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: 'Averta-Regular', sans-serif;

  div#geometric {
    position: absolute;
    top: 0;
    left: 0;
    border-left: 100vw solid $colorGreen;
    border-bottom: $border-bottom-geometric solid transparent;
    height: calc(100vh - #{$border-bottom-geometric});
    width: 0;
  }

  section#link {
    position: absolute;
    top: 32px;
    left: 0;
    width: 100vw;
    height: 32px;

    div.home {
      h2 {
        line-height: 32px;
        margin: 0 0 0 70px;
        padding: 0;
        font-size: 25px;
        float: left;
      }
    }

    ul {
      padding: 0;
      margin: 0 80px 0 0;
      text-align: right;

      li {
        display: inline-block;
        margin: 0 0 0 32px;
        list-style: none;

        a {
          text-decoration: none;
          display: block;
          height: 32px;
          border: 1px solid $colorGreen;
          border-radius: 16px;
          background-color: white;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 20px 0 rgba(0, 0, 0, 0.1);

          span.text-social {
            padding: 0 16px 0 7px;
            font-family: 'Gotham-Book';
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 32px;
            letter-spacing: normal;
            color: $colorGreen;
          }

          img.logo-social {
            margin: 6px 0 0 7px;
            width: 20px;
            height: 20px;
            object-fit: contain;
            float: left;
          }
        }

        a:hover {
          box-shadow: none;
        }
      }
    }
  }

  section#content {
    position: absolute;
    top: 25%;
    left: $pad-marg-left;
    text-align: left;
    width: 80%;
    max-width: 600px;

    h1 {
      margin-top: 0;
      margin-bottom: 36px;
      opacity: 0.87;
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.55;
      letter-spacing: normal;
    }

    h3 {
      margin-bottom: 7px;
      font-family: 'Averta-Bold';
      font-size: 48px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -2.4px;
    }

    h3::after {
      content: '_';
      padding-left: 3px;
    }

    a {
      display: block;
      text-decoration: none;
      color: white;
      text-align: center;
      font-family: 'Averta-Regular', sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      font-stretch: normal;
      padding: 0 20px;
      height: 36px;
      line-height: 36px;
      border-radius: 19px;
      border: solid 1px #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      transition: all 0.24s ease-out;
    }

    a:hover {
      color: $colorGreen;
      background-color: white;
    }

    span.decoration {
      display: block;
      width: 100%;
      height: 1px;
      background-color: white;
      transform: rotateZ(90deg) translateX(50%);
      margin-top: -1px;
    }
  }

  section#logo-wrapper {
    background-color: transparent;
    position: fixed;
    top: calc(100vh - #{$border-bottom-geometric});
    right: 80px;
    transform: translateY(-26%);
    z-index: 1001;

    h4#quote {
      display: none;
      position: absolute;
      top: 10px;
      width: 300px;
      transform: translateX(-25%);
      color: #199a8f;
      font-family: 'Averta-Regular', sans-serif;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
    }

    h4#quote::after {
      content: '';
      position: absolute;
      top: 22px;
      transform: translateX(-100%);
      width: 80px;
      height: 22px;
      background-image: url("/images/talk.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
    }

    div#logo {
      width: 300px;
      height: 300px;
      background-color: white;
      border-radius: 50%;
      box-shadow: 0 2px 20px 0 rgba(17, 17, 46, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.18);
      display: flex;
      justify-content: center;
      align-items: center;

      .allan-exp-3 {
        width: 240px;
        height: 240px;
        object-fit: contain;
      }
    }
  }
  #triggerInitScale {
    position: absolute;
    top: 50%;
  }
}
