// Scss file for the first <main> in the document

main#home-main {
  position: relative;
}

main#project-main {
  margin: 120px 15%;

  section {
    position: relative;

    div {
      max-width: 410px;
      margin-bottom: 220px;
      color: $wordingGrey;

      h2 {
        position: relative;
        opacity: 0.67;
        font-family: 'Gotham-Light', sans-serif;
        font-size: 13px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: -0.8px;
        text-transform: uppercase;
        margin: 0 0 24px 30px;
      }

      h2::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -30px;
        width: 21px;
        height: 1px;
        transform: translateY(-50%);
        opacity: 0.76;
        background-color: $colorGreen;
      }

      p {
        opacity: 0.87;
        font-family: 'Averta-Light', sans-serif;
        font-size: 17px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.88;
        letter-spacing: normal;
        margin: 0 0 24px;

        a {
          opacity: 0.74;
          color: $colorGreen;
          text-decoration: none;
          transition: all 0.3s ease-in;
        }

        a::before {
          content: '#';
          position: relative;
          color: $colorGreen;
        }

        a:hover {
          opacity: 1;
        }
      }
    }

    div.right {
      padding-left: calc(100% - 410px);
    }

    div.center {
      max-width: none;
      margin-top: -110px;

      p {
        position: relative;
        opacity: 0.87;
        font-family: 'Averta-Regular-Italic', sans-serif;
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        line-height: 1.8;
        letter-spacing: normal;
        text-align: center;
      }

      img {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(100%);
      }

      p::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 55%;
        width: 80px;
        height: 22px;
        background-image: url("/images/talk.svg");
        background-repeat: no-repeat;
        background-position: right bottom;
      }
    }

    figure {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-color: transparent;
      width: 410px;
      height: 410px;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
          object-fit: contain;
          width: 380px;
          height: auto;
      }
    }

    figure.right {
      left: 0;
    }
  }
}
