// All the css animation of the application
@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes appear {
  0% {
    background-color: $backgroundGrey;
    opacity: 0;
    top: -20px;
  }

  45% {
    top: 0;
  }

  100% {
    background-color: white;
    opacity: 1;
  }
}
