// All the variables of the application
$border-bottom-geometric: 60vh;
$colorGreen: rgb(25, 154, 143);
$wordingGrey: rgb(18, 17, 46);
$creditsHeight: 60px;
$backgroundLastArticle: rgb(237, 237, 237);
$pad-marg-left: 10%;
