// All the variables of the application
$border-bottom-geometric: 60vh;
$colorGreen: rgb(25, 154, 143);
$wordingGrey: rgb(18, 17, 46);
$creditsHeight: 60px;
$backgroundLastArticle: rgb(240, 240, 240);
$pad-marg-left: 140px;
$aside-width: 80px;
