// All the variables of the application
$border-bottom-geometric: 50vh;
$colorGreen: rgb(25, 154, 143);
$wordingGrey: rgb(18, 17, 46);
$creditsHeight: 60px;
$backgroundGrey: rgb(244, 244, 244);
$pad-marg-left: 140px;
$aside-width: 80px;
$aside-color: rgb(80, 80, 80);

// Alienes project
$background-alienes: rgb(103, 101, 110);
$background-alienes-2: rgb(65, 62, 74);
$color-alienes: rgb(65, 62, 74);

// Psycho project
$background-psycho: rgb(98, 158, 158);
$background-psycho-2: rgb(59, 134, 134);
$color-psycho: rgb(59, 134, 134);

// Princetone project
$background-princetone: rgb(0, 88, 109);
$background-princetone-2: rgb(0, 54, 67);
$color-princetone: rgb(0, 88, 109);

// Freshwater project
$background-freshwater: rgb(85, 103, 141);
$background-freshwater-2: rgb(42, 65, 113);
$color-freshwater: rgb(85, 103, 141);
