// Main SCSS file.
*::selection {
  background: rgba(255, 75, 39, 0.7);
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
// All the import scss files
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'header';
@import 'main';
@import 'article';
@import 'aside';
@import 'footer';
@import 'extra';
// Some media query
@media screen and (max-width: 1130px) {
  section#logo-wrapper {
    display: none;
  }
}
