// Main SCSS file.
@import 'variables';

*::selection {
  background-color: $colorGreen;
  color: white;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
// All the import scss files
@import 'mixins';
@import 'fonts';
@import 'header';
@import 'main';
@import 'article';
@import 'aside';
@import 'footer';
@import 'extra'; // Some media query
@media screen and (max-width: 1130px) {
  header#banner {
    div#geometric {
      border: none;
      width: 100vw;
      height: 90vh;
      background-color: $colorGreen;
    }

    section#content {
      left: 50px;

      h1 {
        font-size: 18px;
      }

      a {
        font-size: 11px;
      }
    }
  }

  main {
    article {
      padding-left: 40px;

      header {
        h2 {
          font-size: 28px;
          line-height: 48px;
        }

        h2::before {
          left: -15px;
          width: 12px;
        }
      }
    }

    article:nth-of-type(1) {
      margin-top: 100px;
    }

    article#triggerAboutAll {
      padding-left: 50px;
      padding-bottom: 20px;
    }

    aside#dev {
      width: 20px;
    }
  }

  footer#email-credits {
    section#email {
      left: 50px;
    }
  }
}
@media screen and (max-width: 1035px) {
  header#banner {
    section#link {
      div.home {
        display: none;
      }

      ul {
        display: flex;
        justify-content: center;
        align-items: right;
        text-align: center;
        margin: auto;

        li {
          margin: 30px;
        }
        span.text-social {
            display: none;
        }
        a {
            width: 33px;
        }
      }
    }

    section#logo-wrapper {
      display: none;
    }
  }
}
