// Importing files
@import 'normalize.min.css';
@import 'nav';
@import 'header';
@import 'figure';
@import 'main';
@import 'article';

body {
  background-color: rgba(40,146,210,0.8);
  animation: body 5s linear 1s infinite alternate;
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  @keyframes body {
    to {
      background-color: rgba(115,40,210,0.8);
    }
  }
}
