// Importing files
@import 'normalize.min.css';

body {
  background-color: rgba(40,146,210,0.8);
  animation: body 5s linear 1s infinite alternate;
  @keyframes body {
    to {
      background-color: rgba(115,40,210,0.8);
    }
  }

  header {
    width: 100vw;
    height: 100vh;

    hgroup {
      $fadeUp: 100px;
      $fallDown: -150px;
      $delay: 50ms;
      $duration: 5s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-smoothing: antialiased;
      padding-left: 20px;
      border-left: 10px rgba(255, 255, 255, 0.1) dotted;

      .space-between-heading {
        margin-right: 15px;
      }

      h1 {
        transform: translateY($fadeUp);
        opacity: 0;
        transition: transform $duration/1.5 ease-out, opacity $duration ease;
        letter-spacing: 3px;
        font-family: 'Muli', sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 50px;
        margin:10px 0 10px 0;

        &.loaded {
          opacity: 1;
          transform: translateY(0);
        }
      }

      h2 {
          margin:10px 0 10px 0;
      }

      span.letter {
        display: inline-block;
        font-family: 'Muli', sans-serif;
        font-weight: 200;
        font-style: italic;
        font-size: 30px;
        transition: transform $duration cubic-bezier(.43,.1,.57,.9), filter $duration ease, opacity $duration ease;
        opacity: 0;
        filter: blur(5px);

        &:nth-of-type(2) {
          transform: translateY($fallDown + 40px);
          transition-duration: $duration/2;
        }

        &:nth-of-type(3) {
          filter: blur(0);
          transform: translateY($fallDown + 30px);
          transition-duration: $duration/1.3;
        }

        &:nth-of-type(4) {
          transform: translateY($fallDown);
          transition-duration: $duration/1.5;
        }

        &:nth-of-type(5) {
          transform: translateY($fallDown + 50px);
          transition-duration: $duration/2;
        }

        &:nth-of-type(6) {
          filter: blur(0);
          transform: translateY($fallDown + 20px);
          transition-duration: $duration/2.3;
        }

        &:nth-of-type(7) {
          transform: translateY($fallDown);
          transition-duration: $duration/1.2;
        }

        &:nth-of-type(8) {
          transform: translateY($fallDown - 20px);
          transition-duration: $duration/1.4;
        }

        &:nth-of-type(9) {
          transform: translateY($fallDown - 10px);
          transition-duration: $duration/1.6;
        }

        &:nth-of-type(10) {
          transform: translateY($fallDown);
          transition-duration: $duration/1.8;
        }

        &:nth-of-type(11) {
          transform: translateY($fallDown + 60px);
          transition-duration: $duration/2;
        }

        &:nth-of-type(12) {
          filter: blur(0);
          transform: translateY($fallDown + 30px);
          transition-duration: $duration/2.2;
        }

        &:nth-of-type(13) {
          transform: translateY($fallDown + 10px);
          transition-duration: $duration/2.4;
        }

        &.loaded {
          opacity: 1;
          transform: translateY(0);
          filter: blur(0);
        }
      }
    }
  }
}
