// Importing files
@import 'normalize.min.css'; // Variables
$navHeight: 50px;

body {
  background-color: rgba(40,146,210,0.8);
  animation: body 5s linear 1s infinite alternate;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  @keyframes body {
    to {
      background-color: rgba(115,40,210,0.8);
    }
  }

  nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: $navHeight;
    width: 100vw;
    z-index: 100;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: stretch;
      align-content: center;

      li {
        display: inline;
        list-style: none;
        margin-right: 20px;

        a {
          text-decoration: none;
          display: block;
          padding: 5px 10px;
          color: rgba(255, 255, 255, 0.8);
          font-weight: 200;
          font-style: italic;
          font-size: 17px;
          line-height: 100%;
          transition: all 0.5s ease-in;
          border-bottom: 1px rgba(255, 255, 255, 0.3) dotted;
          border-bottom-right-radius: 10px;
        }

        a:hover {
          border-bottom: 1px rgba(255, 255, 255, 0.9) dotted;
          color: rgba(255, 255, 255, 1);
          transform: translateY(3px);
        }
      }
    }
  }

  header#whois {
    width: 100vw;
    height: 100vh;
    $fadeUp: 100px;
    $fallDown: -150px;
    $delay: 50ms;
    $duration: 4s;

    div.heading-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-smoothing: antialiased;
      padding-left: 20px;
      border-left: 10px rgba(255, 255, 255, 0.1) dotted;
      border-bottom-left-radius: 30px;

      .space-between-heading {
        margin-right: 15px;
      }

      h1 {
        transform: translateY($fadeUp);
        opacity: 0;
        transition: transform $duration/1.5 ease-out, opacity $duration ease;
        letter-spacing: 3px;
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        margin: 10px 0;

        &.loaded {
          opacity: 1;
          transform: translateY(0);
        }
      }

      h2 {
        margin: 10px 0;
      }

      h2:after {
        content: '_';
        padding-left: 5px;
        opacity: 0;
        animation: h2blink 1.5s steps(2, start) infinite $duration*1.2, h2show 0.3s ease-out $duration*1.2 forwards;
        @keyframes h2blink {
          to {
            visibility: hidden;
          }
        }
        @keyframes h2show {
          to {
            opacity: 1;
          }
        }
      }

      span.letter {
        display: inline-block;
        font-weight: 200;
        font-style: italic;
        font-size: 30px;
        transition: transform $duration cubic-bezier(.43,.1,.57,.9), filter $duration ease, opacity $duration ease;
        opacity: 0;
        filter: blur(5px);

        &:nth-of-type(2) {
          transform: translateY($fallDown + 45px);
          transition-duration: $duration/2;
        }

        &:nth-of-type(3) {
          filter: blur(0);
          transform: translateY($fallDown + 30px);
          transition-duration: $duration/1.3;
        }

        &:nth-of-type(4) {
          transform: translateY($fallDown);
          transition-duration: $duration/1.5;
        }

        &:nth-of-type(5) {
          transform: translateY($fallDown + 50px);
          transition-duration: $duration/2;
        }

        &:nth-of-type(6) {
          filter: blur(0);
          transform: translateY($fallDown + 20px);
          transition-duration: $duration/2.3;
        }

        &:nth-of-type(7) {
          transform: translateY($fallDown + 35px);
          transition-duration: $duration/1.2;
        }

        &:nth-of-type(8) {
          transform: translateY($fallDown - 20px);
          transition-duration: $duration/1.4;
        }

        &:nth-of-type(9) {
          transform: translateY($fallDown);
          transition-duration: $duration/1.6;
        }

        &.loaded {
          opacity: 1;
          transform: translateY(0);
          filter: blur(0);
        }
      }
    }
  }

  figure {
    svg {
      width: 40%;
      height: auto;
      position: fixed;
      top: 50%;
      right: -300px;
      z-index: 5;
      opacity: 0;
      animation: startsvg 6s forwards ease-out, animesvg 4s 7s linear infinite alternate;
    }
    @keyframes startsvg {
      0% {
        opacity: 0;
        transform: rotateZ(9deg);
      }

      50% {
        transform: translateY(-35%) rotateZ(-5deg);
        right: -40px;
        opacity: 0.2;
      }

      100% {
        transform: translateY(-35%) rotateZ(0deg);
        right: -40px;
        opacity: 0.3;
      }
    }
    @keyframes animesvg {
      0% {
        transform: translateY(-35%) rotateZ(0deg);
      }

      100% {
        transform: translateY(-34%) rotateZ(-2deg);
      }
    }
  }

  main {
    article {
      background-color: rgba(115,40,210,1);
      color: white;
      height: 100vh;
      width: 100vw;
      position: relative;

      div.wrapper {
        position: absolute;
        top: 50%;
        left: 150px;
        transform: translateY(-50%);
        z-index: 6;

        header {
          font-weight: 800;
          font-style: italic;
          font-size: 30px;

          h2:before {
            content: '#';
            margin-right: 10px;
            color: rgba(40,146,210,0.8);
          }
        }

        div.border {
          padding-left: 20px;
          border-left: 10px rgba(255, 255, 255, 0.1) dotted;
          border-bottom-left-radius: 30px;
          width: 60%;
          text-align: left;

          section {
            h3 {
              color: rgb(40,146,210);
              margin: 25px 0 5px;
              font-style: italic;
              font-weight: 800;
              font-size: 24px;
            }

            h3:before {
              content: '##';
              margin-right: 5px;
            }

            p {
              margin: 8px 0;
              line-height: 1.3em;
              text-indent: 20px;
            }

            a {
              color: white;
              font-style: italic;
              text-decoration: none;
              border-bottom: 1px white dotted;
              transition: all 1s ease-out;
            }

            a:hover {
              color: rgb(40,146,210);
              border-bottom: 1px rgb(40,146,210) dotted;
            }
          }

          footer {
            margin-top: 30px;
            font-weight: 200;
            font-style: italic;
            font-size: 12px;
            padding-bottom: 20px;

            p {
              display: inline;
              padding-bottom: 5px;
              border-bottom: 1px rgba(40,146,210,0.8) dotted;
            }
          }
        }
      }
    }
  }
}
